<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Welcome to Student Portal</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <h1>Welcome to Student Portal</h1>
  <p><-------------Student Must use their Email-ID's-------------></p>
  <p><----Use of other student password is strictly prohibited---></p>
  <h3><a th:href="@{/login}">Login</a></h3>
</div>

</body>
</html>